<div class="row">
    <h2>Hard & Soft Skills</h2>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [showUnits]="false"
            [title]="'HTML5'"
            [titleFontSize]="'1em'"
            [titleColor]="'#c1b1f0'"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c1b1f0'"
            [innerStrokeColor]="'#dcd0ff'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [showUnits]="false"
            [title]="'CCS3'"
            [titleFontSize]="'1em'"
            [titleColor]="'#c1b1f0'"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c1b1f0'"
            [innerStrokeColor]="'#dcd0ff'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="65"
            [radius]="100"
            [showUnits]="false"
            [title]="'JAVASCRIPT'"
            [titleFontSize]="'1em'"
            [titleColor]="'#c1b1f0'"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c1b1f0'"
            [innerStrokeColor]="'#dcd0ff'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="55"
            [radius]="100"
            [showUnits]="false"
            [title]="'GITHUB'"
            [titleFontSize]="'1em'"
            [titleColor]="'#c1b1f0'"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c1b1f0'"
            [innerStrokeColor]="'#dcd0ff'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [showUnits]="false"
            [title]="'INGLÉS'"
            [titleFontSize]="'1em'"
            [titleColor]="'#c1b1f0'"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c1b1f0'"
            [innerStrokeColor]="'#dcd0ff'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [showUnits]="false"
            [title]= "'SCRUM'"
            [titleFontSize]="'1em'"
            [titleColor]="'#c1b1f0'"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c1b1f0'"
            [innerStrokeColor]="'#dcd0ff'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
</div>
