<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li> <h2>Trabajo 1</h2> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis 
                debitis corrupti maxime consequatur ab minima ullam illo tempore, 
                illum quasi deserunt repellat molestias, hic quibusdam nisi facilis 
                recusandae possimus eligendi.
            </p>
            <li> <h2>Trabajo 2</h2> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis 
                debitis corrupti maxime consequatur ab minima ullam illo tempore, 
                illum quasi deserunt repellat molestias, hic quibusdam nisi facilis 
                recusandae possimus eligendi.
            </p>
            <li> <h2>Trabajo 2</h2> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis 
                debitis corrupti maxime consequatur ab minima ullam illo tempore, 
                illum quasi deserunt repellat molestias, hic quibusdam nisi facilis 
                recusandae possimus eligendi.
            </p>
        </ul>
    </div>
</div>
