<!--<div class="row">
    <h2>Proyectos Realizados</h2>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 textoProyecto">
            <h3>Encriptador de texto</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt eius 
                eligendi fugiat ab in soluta facilis iste nostrum dolores laborum optio,
                enim temporibus numquam necessitatibus, eaque quasi quod autem nemo.
            </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 imagenProyecto">
            <img src="../../../assets/icon.png" alt="">
        </div>
    </div>
</div>-->

    <div class="team-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Proyectos Realizados </h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="../../../assets/icon.png">
                        <h3 class="name">Encriptador de Texto</h3>
                        <p class="title">2022</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="../../../assets/icon.png">
                        <h3 class="name">Página Web</h3>
                        <p class="title">2022</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="../../../assets/icon.png">
                        <h3 class="name">Juego del Ahorcado</h3>
                        <p class="title">2022</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 